@{
    ViewBag.Title = "Home Page";
}

<div class="HeroImg">
    <div class="header_div">
        <div class="logo_div">
            <img class="logo_img" src="http://www.sadmuffin.net/cherrybam/graphics/comments-hello-hey-hi/hello103.gif" />
        </div>
        <div class="header_body">
            <p></p>
            <p class="header_title">HEROES</p>
            <h2 class ="header_subtitle">"You want to get nuts? <br />Come on!<br /> Lets get nuts!"</h2>
            <p>-Batman</p>
        </div>
    </div>
    <br />
    <div >
        <p class ="img_bank">
              <a class="Thor" href="/Hero/Index/1">
                <img class="Small-img_thumb" src="http://cdn0.lostateminor.com/wp-content/uploads/2014/07/Hello-Kitty-heroes-1-990x500.jpeg" title="small" />
                <img class="Large-img_thumb" src="http://cdn0.lostateminor.com/wp-content/uploads/2014/07/Hello-Kitty-heroes-1-990x500.jpeg" title="large" />
                </a>
            <a class="Spiderman" href="/Hero/Index/2">
                <img class="Small-img_thumb" src="http://petapixel.com/assets/uploads/2014/09/tumblr_n5e4kz9CbA1rrm2zoo1_500-429x640.png" />
                <img class="Large-img_thumb" src="http://petapixel.com/assets/uploads/2014/09/tumblr_n5e4kz9CbA1rrm2zoo1_500-429x640.png" />
            </a>
            <a class="Captn" href="/Hero/Index/3">
                <img class="Small-img_thumb" src="http://burdo.co/wp-content/uploads/2014/08/Hello-Kitty-heroes-1.jpeg" />
                <img class="Large-img_thumb" src="http://burdo.co/wp-content/uploads/2014/08/Hello-Kitty-heroes-1.jpeg" />
            </a>
            <a class="Fury" href="/Hero/Index/4">
                <img class="Small-img_thumb" src="http://cdn0.lostateminor.com/wp-content/uploads/2014/07/Hello-Kitty-heroes-6.jpeg" />
                <img class="Large-img_thumb" src="http://cdn0.lostateminor.com/wp-content/uploads/2014/07/Hello-Kitty-heroes-6.jpeg" />
            </a>
            <a class="Batman" href="/Hero/Index/5">
                <img class="Small-img_thumb" src="http://www.ohellokittygames.com/wp-content/uploads/2014/05/5-Hello-Kitty-Batman.jpg" />
                <img class="Large-img_thumb" src="http://www.ohellokittygames.com/wp-content/uploads/2014/05/5-Hello-Kitty-Batman.jpg" />
            </a>
            <a class="Bird" href="/Hero/Index/6">
                <img class="Small-img_thumb" src="https://sociorocketnewsen.files.wordpress.com/2014/07/tumblr_n5naxumwlt1rrl12ro1_1280.jpg?w=580&h=754">
                <img class="Large-img_thumb" src="https://sociorocketnewsen.files.wordpress.com/2014/07/tumblr_n5naxumwlt1rrl12ro1_1280.jpg?w=580&h=754">
            </a>
        </p>
        <p class="img_bank">
            <a class="Hulk" href="/Hero/Index/7">
                <img class="Small-img_thumb" src="http://amazingdata.com/wp-content/uploads/2014/09/funny-hilarious-Hello-Kitty-Avengers-superhero-10.jpg" />
                <img class="Large-img_thumb" src="http://amazingdata.com/wp-content/uploads/2014/09/funny-hilarious-Hello-Kitty-Avengers-superhero-10.jpg" />
            </a>
            <a class="Ironman" href="/Hero/Index/8">
                <img class="Small-img_thumb" src="http://juicy.mashkulture.net/wp-content/uploads/sites/3/2014/07/hello-kitty-superheroes-6.jpg">
                <img class="Large-img_thumb" src="http://juicy.mashkulture.net/wp-content/uploads/sites/3/2014/07/hello-kitty-superheroes-6.jpg">
            </a>
            <a class="Blackwidow" href="/Hero/Index/9">
                <img class="Small-img_thumb" src="http://funs.co/wp-content/uploads/2014/09/marvel_elite_daily11.jpg" />
                <img class="Large-img_thumb" src="http://funs.co/wp-content/uploads/2014/09/marvel_elite_daily11.jpg" />
            </a>
            <a class="Hawkeye" href="/Hero/Index/10">
                <img class="Small-img_thumb" src="http://cdn0.lostateminor.com/wp-content/uploads/2014/07/Hello-Kitty-heroes-4.jpeg">
                <img class="Large-img_thumb" src="http://cdn0.lostateminor.com/wp-content/uploads/2014/07/Hello-Kitty-heroes-4.jpeg">
            </a>
            <a class="Superman" href="/Hero/Index/12">
                <img class="Small-img_thumb" src="https://anibundel.files.wordpress.com/2014/08/superman.jpg" />
                <img class="Large-img_thumb" src="https://anibundel.files.wordpress.com/2014/08/superman.jpg" />
            </a>
            <a class="Gandolf" href="/Hero/Index/11">
                <img class="Small-img_thumb" src="http://giveitlove.com/wp-content/uploads/Hello-Kitty-Superhero-Outfit-Gandolf.jpg" />
                <img class="Large-img_thumb" src="http://giveitlove.com/wp-content/uploads/Hello-Kitty-Superhero-Outfit-Gandolf.jpg" />
            </a>
        </p>
    </div>
</div>